# example workflow for Polaris scans using the Bridge CLI
name: CI-Polaris-Basic
on:
  push:
    branches: [ main, master, develop, stage, release ]
  pull_request:
    branches: [ main, master, develop, stage, release ]
  workflow_dispatch:
jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
    - name: Checkout Source
      uses: actions/checkout@v4
    - name: Polaris PR Scan
      uses: synopsys-sig/synopsys-action@v1.9.0
      with:
       polaris_server_url: 'https://poc.polaris.synopsys.com/'
       polaris_access_token: 'rvb1uibn0h59d9e6tnba154883488j3qpls4n3dksmvmeoqbphvme53c42lgra1c0a2fh9k0so7ds'
       polaris_assessment_types: 'SAST'
       #polaris_application_name: havnoor-${{ github.event.repository.name }}
       polaris_prComment_enabled: true
       github_token: ${{ secrets.GITHUB_TOKEN }}
